.cantact-body {
  background-color: rgb(232, 241, 249);
  padding: 2rem 0;
}
.cantact-body > form {
  box-sizing: 0 0 15px -4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 40%;
  padding: 1rem 2rem;
  border-radius: 1rem;
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  animation-name: addMeasage;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}
.MuiFormControl-root {
  width: 100%;
  margin: 0.4rem 0px !important ;
}
.MuiOutlinedInput-notchedOutline {
  font-size: 0.9rem;
  font-weight: 500;
  color: rgb(4, 4, 111);
}
.css-sghohy-MuiButtonBase-root-MuiButton-root {
  padding: 0.8rem 0 !important;
  font-size: 1.2rem;
}

.cantact-body-title {
  font-size: 2rem;
  color: #0078d2;
  font-weight: 600;
  text-align: center;
  margin: 2rem 0;
}
@keyframes addMeasage {
  from {
    transform: translateY(-300px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@media screen and (max-width: 850px) {
  .cantact-body > form {
    width: 75%;
  }
}
@media screen and (max-width: 480px) {
  .cantact-body > form {
    width: 85%;
    padding: 1rem;
  }
}
